.topRoundedNavSearchBarWrapper {
  width: 800px;
  margin: 0px 40px 0px 10px;
  border: 1px solid #eee;
  border-radius: 22px;
  padding: 7px;
  background-color: #eee;
}

.topRoundedNavSearchBarWrapper:focus-within {
  background-color: white;
}

.topRoundedNavSearchBarWrapper:hover {
  border: 1px solid #d1d1d1;
  border-radius: 22px;
}

.topSquareNavSearchBarWrapper {
  width: 800px;
  margin: 0px 40px 0px 10px;
  border: 1px solid #eee;
  padding: 7px;
  background-color: #eee;
}

.topNavSearchBar {
  width: 100%;
  max-width: 900px;
  border-radius: 22px;
  display: flex;
  align-items: center;
}

.topNavSearchBarInput {
  width: 100%;
  max-width: 855px;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 14px;
}

.topNavPopoverBodyClassname {
  display: flex;
  justify-content: space-evenly;
}

.searchIcon {
  height: 20px !important;
  width: 20px !important;
  margin: 0px 8px;
  color: gray;
}

.searchIcon:hover {
  color: black;
}

.topNavLinkText {
  font-weight: 800;
  font-size: 14px;
  text-decoration: none;
  color: gray;
}

.topNavLinkText:focus {
  color: black;
}

.topNavLinkText:hover {
  color: black;
}

.topNavLinkTextWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 200px;
}

.menuIcon {
  outline: none;
  color: gray;
}

@media only screen and (max-width: 1200px) {
  .topRoundedNavSearchBarWrapper {
    width: 700px;
  }
  .topNavSearchBarInput {
    max-width: 655px;
  }
  .topSquareNavSearchBarWrapper {
    width: 700px;
  }
}

@media only screen and (max-width: 992px) {
  .topRoundedNavSearchBarWrapper {
    width: 500px;
  }
  .topNavSearchBarInput {
    max-width: 455px;
  }
  .topSquareNavSearchBarWrapper {
    width: 500px;
  }
}

@media only screen and (max-width: 767px) {
  .topRoundedNavSearchBarWrapper {
    width: 300px;
  }
  .topNavLinkText {
    display: none;
  }
  .topSquareNavSearchBarWrapper {
    display: none;
  }

  .topNavSearchBarInput {
    width: 100%;
    max-width: 255px;
  }
  .searchIcon {
    height: 18px !important;
    width: 18px !important;
  }
}

@media only screen and (max-width: 450px) {
  .topRoundedNavSearchBarWrapper {
    width: 220px;
    margin: 0px;
  }

  .topNavSearchBarInput {
    width: 100%;
    max-width: 200px;
  }
}
