.photoGAlleryWapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.photosWrapper {
  column-count: 3;
}
.galleryImagesWrapper {
  margin-bottom: 16px;
}

@media only screen and (max-width: 992px) {
  .photosWrapper {
    column-count: 2;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .photosWrapper {
    column-count: 1;
    width: 100%;
  }
}
