/* Grid */

.searchCollectionWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 50px;
}

.searchCollectionImgWrapper {
  display: grid;
  grid-template-columns: 210px minmax(90px, 120px);
  grid-template-rows: repeat(2, 125px);
  gap: 12px;
}
.searchCollectionImgWrapper:hover {
  display: grid;
  grid-template-columns: 230px minmax(90px, 120px);
  grid-template-rows: repeat(2, 125px);
  gap: 12px;
  opacity: 0.8;
}

.index-0 {
  grid-row-start: 1;
  grid-row-end: -1;
  height: 100%;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
}

.index-1 {
  height: 100%;
  width: 100%;
  border-radius: 0px 10px 0px 0px;
}
.index-2 {
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 10px 0px;
}
.searchCollectionImgWrapper {
  margin-bottom: 16px;
}
.searchCollectionTitle {
  font-size: 50px;
  font-weight: 800;
}

.collectionImgTitle {
  font-size: 28px;
  font-weight: 700;
}
.collectionImgContaints {
  display: flex;
}

.collectiontotalPhotos {
  margin-right: 16px;
}
.tagText {
  margin-right: 16px;
  padding: 5px 10px 5px 10px;
  background-color: rgb(238, 238, 238);
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .searchCollectionWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .searchCollectionWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .searchCollectionImgWrapper {
    grid-template-columns: 300px minmax(90px, 120px);
  }
}

@media only screen and (max-width: 528px) {
  .searchCollectionImgWrapper {
    grid-template-columns: 200px minmax(90px, 120px);
  }
}
