.searchedPhotoGalleryWrapper {
  column-count: 3;
  width: 100%;
}

.searchImgWrapper {
  margin-bottom: 16px;
}

.searchImgWrapper:hover {
  margin-bottom: 16px;
  opacity: 0.8;
}

.photoAndCollectionWrapper {
  padding: 16px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  .searchedPhotoGalleryWrapper {
    column-count: 2;
  }
}

@media only screen and (max-width: 767px) {
  .searchedPhotoGalleryWrapper {
    column-count: 1;
  }

  .photoAndCollectionWrapper {
    justify-content: start;
  }
}
